* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f7f7;
}

header {
  background-color: white;
  height: 80px;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}

header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

header #navbar .nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 31px;
}

header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover {
  color: #777;
  transition: color 0.3s;
}

header #navbar .hamburger-menu {
  display: none;
}

@media (max-width: 740px) {
  header #navbar .hamburger-menu {
    display: block;
  }
}

/* Section Banner */

main {
  margin-top: 6rem;
}

main #banner {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main #banner .banner-content .banner-content-tittle {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

main #banner .banner-content .banner-content-subtittle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 38px;
}

main #banner .banner-content .banner-content-btn {
  background-color: #00a8cc;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  padding: 8px 24px;
}

main #banner .banner-img {
  border-radius: 50%;
  width: 100%;
  max-width: 350px;
}

@media (max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
  }

  main #banner .banner-content {
    text-align: center;
  }

  header #navbar .nav-list {
    display: none;
  }
}

/* section posts */

section#posts {
  margin-top: 71px;
  background-color: #edf7fa;
}

#posts .posts-content {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#posts .posts-content .posts-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

#posts .posts-content .posts-content-header .section-tittle {
  font-size: 22px;
  font-weight: 500;
}

#posts .posts-content .posts-content-header .view-all-link {
  text-decoration: none;
  color: #00a8cc;
}

#posts .posts-content .posts-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}

#posts .posts-content .posts-cards .post-card {
  background-color: white;
  padding: 24px;
}

#posts .posts-content .posts-cards .post-card h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 37px;
}

#posts .posts-content .posts-cards .post-card span {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  display: block;
}

@media (max-width: 740px) {
  #posts .posts-content .posts-cards {
    flex-direction: column;
  }
}
